:root {
  --purple: #814096;
  --pink: #f83292;
  --gray: #777;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
}
.header {
  background: url(images/home-bg-img.png) no-repeat center center / cover;
  height: 100%;
}
.navbar {
  height: 70px;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: rgb(231, 41, 98);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--pink);
}
.logo {
  font-size: 2rem;
  font-weight: 800;
  color: var(--purple);
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: 0.7s;
}
.nav-links {
  padding: 8px 8px;
}
.nav-links.act,
.nav-links:hover {
  background: var(--purple);
  border-radius: 5px;
  color: #fff;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 32px;
  height: 3.5px;
  margin: 5px auto;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.home .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--pink);
  line-height: 1.1;
}
span {
  color: var(--purple);
}
.home-content p {
  font-size: 1.2rem;
  color: #666;
  padding-top: 2%;
}
.btn {
  display: inline-block;
  background: var(--gradient);
  padding: 17px 30px;
  margin-top: 3%;
  color: #fff;
  border-radius: 50px;
}
.home-image img {
  width: 100%;
  animation: float 2s linear infinite;
}

/* features */
.features {
  margin-top: 5%;
}
.heading {
  font-size: 2.7rem;
  color: var(--pink);
  text-align: center;
}
.features .heading span {
  color: var(--purple);
}
.features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.app-box {
  flex: 1;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem 2rem;
}
.app-box img {
  width: 200px;
  height: 200px;
}
.btn-1 {
  display: inline-block;
  background: var(--gradient);
  padding: 6px 12px;
  margin-top: 3%;
  color: #fff;
  border-radius: 50px;
}

.about {
  margin-top: 5%;
  background: url(images/about-bg.png) no-repeat center center / cover;
  height: 100%;
}
.heading {
  font-size: 2.7rem;
  color: var(--pink);
  text-align: center;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content {
  flex-basis: 50%;
}
.about-content img {
  width: 100%;
}
.about-content h3 {
  font-size: 2.5rem;
  line-height: 1.2;
}
.about-content p {
  padding-top: 2%;
  color: var(--gray);
}
.button i {
  margin-right: 8px;
}
.button a:last-child {
  margin-left: 1rem;
}
.newsletter {
  margin-top: 5%;
  background: url(images/subscribe-bg.png) no-repeat center center / cover;
  text-align: center;
  height: 250px;
}
.newsletter h3 {
  font-size: 2.8rem;
  color: #fff;
}
.newsletter p {
  margin: 2rem auto;
  max-width: 55rem;
  color: #fff;
}
.newsletter form {
  display: flex;
  max-width: 65rem;
  border: 3px solid #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  justify-content: space-between;
  gap: 20px;
}
.newsletter form input[type="email"] {
  padding: 0 1rem;
  background: none;
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
  border: none;
}
.newsletter form input[type="email"]::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.newsletter form input[type="submit"] {
  padding: 8px 10px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
.review .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.review .heading {
  margin-top: 5%;
}
.container .review-box {
  flex: 1;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}
.review-box img {
  width: 50%;
  border-radius: 50%;
}
.review-box h3 {
  color: var(--pink);
}
.review-content {
  color: var(--gray);
}
.pricing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .pricing-box {
  flex: 1;
  background: #fff;
  border: 2.5px solid var(--pink);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem 0.8rem;
  text-align: center;
}
.pricing-box h3 {
  color: var(--pink);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 4%;
}
.pricing-box p {
  font-size: 2rem;
  color: var(--pink);
  padding-bottom: 3%;
}
.pricing-box ul li {
  line-height: 2.5;
}
.pricing-box span {
  font-size: 1.3rem;
}

/* contact */
.contact .container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 4%;
}
.container-1 {
  max-width: 1100px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.contact-content {
  flex-basis: 50%;
}
.contact-content img {
  width: 100%;
  padding: 2rem;
}
.contact-content form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 4rem 3rem;
}
.contact-content h2 {
  text-align: left;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.contact-content form .input-box input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid var(--pink);
}
.contact-content form .btn-1 {
  margin-top: 3%;
  padding: 0.8rem 1.7rem;
  width: 90%;
  margin-left: 4%;
  text-align: center;
}
.footer {
  background: url(images/footer-bg.png) no-repeat center center / cover;
}
.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}
.footer-container .footer-lists {
  display: flex;
  justify-content: space-between;
}
.footer-lists .list-heading {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3;
  color: #000;
}
.footer-lists a {
  color: #fff;
}
/* animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-2.5rem);
  }
}

/* media quries */
@media (max-width: 850px) {
  .features .container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .home .container {
    flex-direction: column;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: var(--gradient);
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .nav-items {
    margin: 26px 0;
  }
  .nav-links {
    color: #fff;
  }
  .nav-menu.active {
    left: 0;
  }
  .home-content h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-top: 5rem;
  }
  .home-content p {
    font-size: 1rem;
  }
  .btn {
    display: inline-block;
    padding: 10px 18px;
    margin-top: 5%;
  }
  .heading {
    font-size: 2.1rem;
    font-weight: 700;
  }
  @keyframes float {
    50% {
      transform: translateY(-1rem);
    }
  }
  .features .container {
    flex-direction: column;
  }
  .app-box img {
    width: 180px;
    height: 180px;
  }
  .about .container {
    flex-direction: column;
  }
  .about-content h3 {
    font-size: 2rem;
  }
  .button a {
    width: 100%;
    text-align: center;
  }
  .button a:last-child {
    margin-left: 0;
  }
  .newsletter {
    height: 380px;
  }
  .newsletter form {
    padding: 0.2rem 0.2rem;
  }
  .newsletter form input[type="email"] {
    padding: 0 0.5rem;
    width: 50%;
    font-size: 0.9rem;
  }
  .newsletter form input[type="submit"] {
    padding: 5px 8px;
    font-size: 0.9rem;
  }
  .review .container {
    flex-direction: column;
  }
  .pricing .container {
    flex-direction: column;
  }
  .contact .container-1 {
    flex-direction: column;
  }
  .contact-content form {
    padding: 1.5rem 1rem;
  }
  .footer .footer-lists {
    flex-direction: column;
  }
}
